@model IEnumerable<Main.Category>

@{
    ViewBag.Title = "Manage Categories";
}

<h2 class="pull-left">Manage Categories</h2>

@if (!String.IsNullOrEmpty(ViewBag.UserID)) {
    @Html.ActionLink("Create New Category", "Create", null, new { @class = "btn btn-primary pull-right", @style = "margin-top:15px;" })
}
else {
    @Html.ActionLink("Register an account to create a Category", "Register", "Account", null, new { @class = "btn btn-default pull-right", @style = "margin-top:15px;" })
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", null, new { id = item.CategoryID }, new { @class = "btn btn-danger pull-right" })
            @Html.ActionLink("Edit", "Edit", null, new { id = item.CategoryID }, new { @class = "btn btn-warning pull-right" })
        </td>
    </tr>
}

</table>
