@model Main.Post

@{
    ViewBag.Title = "Details";
}




<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
<script src="~/Scripts/locationpicker.jquery.js"></script>
<script src="~/Scripts/timeago.jquery.js"></script>

<script>
    $(document).ready(function () {
        $("abbr.timeago").timeago();

        $('#map').locationpicker({
            @if (Model.Longitude.HasValue && Model.Latitude.HasValue) {
                <text>
                    location: {
                        longitude: @Model.Longitude,
                        latitude: @Model.Latitude
                    },
                </text>
            }
            radius: 2500,
            zoom: 11,
            inputBinding: {
                latitudeInput: $('#Latitude'),
                longitudeInput: $('#Longitude'),
                locationNameInput: $('#locationSearch')
            },
            draggable: false,
            enableAutocomplete: false
        });
    });
</script>


<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            <abbr class="timeago" title="@Html.DisplayFor(model => model.PostDate)">@Html.DisplayFor(model => model.PostDate)</abbr>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>
</div>


<div id="mapWrapper">
    <input disabled="disabled" class="form-control" type="text" id="locationSearch" />
    <div id="map"></div>
</div>


<div class="form-actions no-color">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })

    @if (Model.AspNetUser.Email == User.Identity.Name) {
        @Html.ActionLink("Edit", "Edit", new { id = Model.PostID }, new { @class = "btn btn-warning pull-right" })
    }
</div>
