@model Main.Post

@{
    ViewBag.Title = "View Post";
}




<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
<script src="~/Scripts/locationpicker.jquery.js"></script>

<script>
    $(document).ready(function () {
        $('#map').locationpicker({
            @if (Model.Longitude.HasValue && Model.Latitude.HasValue) {
                <text>
                    location: {
                        longitude: @Model.Longitude,
                        latitude: @Model.Latitude
                    },
                </text>
            }
            radius: 2500,
            zoom: 11,
            inputBinding: {
                latitudeInput: $('#Latitude'),
                longitudeInput: $('#Longitude'),
                locationNameInput: $('#locationSearch')
            },
            draggable: false,
            enableAutocomplete: false
        });
    });
</script>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            <abbr class="timeago" title="@Html.DisplayFor(model => model.PostDate)">@Html.DisplayFor(model => model.PostDate)</abbr>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            <div class="descriptionView">
                @Html.Raw(Model.Description)
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ViewCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ViewCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>
    <div class="form-group">
        <div class="col-md-12 pull-center">
            <input type="submit" value="Accept" class="btn btn-success" style="clear:both;display:inline-block;"/>
            &nbsp;
        </div>
    </div>
</div>


<div id="mapWrapper">
    <input disabled="disabled" class="form-control" type="text" id="locationSearch" />
    <div id="map"></div>
</div>


<hr />
<h4>Comments</h4>

<table class="table" style="border-bottom:1px solid #ddd">
    @{
        int itemCount = 0;
        foreach (var item in ViewData["comments"] as List<Main.Comment>)
        {
            itemCount = itemCount + 1;
            <tr>
                <td>
                    <img width="64" height="64" alt="User Avatar Picture"
                         src="@item.AspNetUser.Avatar"/>
                    <br />
                    @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentDescription)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "Comments", new { id = item.CommentID }, new { @class = "btn btn-danger pull-right" })
                </td>
            </tr>
        }
    }
</table>


@using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.PostID)
        
        <div class="form-group">
            <label for="CommentDescription" class="control-label col-md-12">Add New Comment:</label>
            <div class="col-md-12">
                <textarea style="width:100%;max-width:100%;" class="form-control" id="CommentDescription" name="CommentDescription"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Create Comment" class="btn btn-success pull-right" />
            </div>
        </div>
    </div>
}





<div class="form-actions no-color">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })

    @if (Model.AspNetUser.Email == User.Identity.Name) {
        @Html.ActionLink("Edit", "Edit", new { id = Model.PostID }, new { @class = "btn btn-warning pull-right" })
    }
</div>
