@model IEnumerable<Main.Post>

@{
    ViewBag.Title = "Search all Postings";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="search" class="col-sm-1 control-label">
                Search
            </label>
            <div class="col-sm-9">
                @Html.TextBox("search", (string)@ViewBag.search, new { @class = "form-control" })
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-success" style="width:100%;">
                    Search
                </button>
            </div>
        </div>
    </div>
}






@if (!String.IsNullOrEmpty(ViewBag.UserID)) {
    @Html.ActionLink("Create New Posting", "Create", null, new { @class = "btn btn-primary pull-right", @style = "margin-bottom:15px;" })
}
else {
    @Html.ActionLink("Register an account to create a posting", "Register", "Account", null, new { @class = "btn btn-default pull-right", @style = "margin-top:15px;" })
}


<table class="table">
    <tr>
        <th>
            Avatar
        </th>
        <th>
            User
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a class="avatarLink" href="/Manage/ViewUser?user=@Html.DisplayFor(modelItem => item.UserID)">
                <img width="64" height="64" alt="User Avatar Picture"
                     src="@item.AspNetUser.Avatar" />
            </a>
        </td>
        <td>
            @item.AspNetUser.Email.Split('@')[0]
        </td>
        <td>
            <abbr class="timeago" title="@Html.DisplayFor(modelItem => item.PostDate)">@Html.DisplayFor(modelItem => item.PostDate)</abbr>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ViewCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.ActionLink("View", "Details", null, new { id = item.PostID }, new { @class = "btn btn-success pull-right" })

            @if (String.Equals(item.AspNetUser.UserName, ViewBag.UserID))
            {
                @Html.ActionLink("Edit", "Edit", null, new { id = item.PostID }, new { @class = "btn btn-warning pull-right" })
            }
        </td>
    </tr>
}

</table>
